 @model IEnumerable<COLLEGE.Models.ViewModels.TeacherViewModel>

@{
    ViewData["Title"] = "Teacher List";
}

<h2>Teacher List</h2>

<a asp-action="CreateEdit" class="btn btn-primary mb-3">Add Teacher</a>

<div class="row">

    <div class="col-md-9 mt-5">
        @await Html.PartialAsync("~/Views/Shared/_TeacherListPartial.cshtml", Model)
    </div>
</div>