@model List<COLLEGE.Models.ViewModels.DetailsViewModel>

@{
    ViewData["Title"] = "Student Details";
}

<h2>Student Dashboard</h2>

<div>
    @await Html.PartialAsync("_StudentListPartial", Model)
</div>
